body  {
 margin: 0;
 padding: 0;
 overflow: hidden;
 position: relative;
}
.navbar {
    margin: 0;
    width: 100%;
    height: 20px;
}
.nav-ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}
li {
    float: left;
    padding: 10px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
    padding-bottom: 24px;
}
.brand {
    padding-right: 0;
    margin-right: 0;
    margin-left: 50px;
}
.brand-h {
    padding-right: 26px;
    margin-right: 270px;
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
}

.active, li:hover {
    color: #ff0073;
    border-bottom: 4px solid #ff0073;
}
.brand:hover {
    border-bottom: 0;
}
.brand-h:hover {
    border-bottom: 0;
    color: #000;
}
.brand img {
    height: 33px;
}
.main{
    margin-top: 45px;
    width: 100%;
    height: 93vh;
    border-radius: 30px;
    background: linear-gradient(-90deg, #fce7f6 0%, #e3eaf8 100%);
}
.main-1{
    margin-left: 80px;
    width: 36%;
    padding-top: 70px;
}
.hd{
    font-size: 53px;
    color: #333;
}
.hd2{
    font-size: 64px;
    color: #222;
    margin-top: -55px;
    letter-spacing: 0.03em;
    font-weight: 900;
}
.content {
 width: 94%;
 margin-top: 35px;
 color: gray;
 letter-spacing: 0.01em;
 font-weight: 500;
 font-size: 16px;
}
.btn {
    display: inline-block;
    background: #67566b;
    color: #fff;
    padding: 8px 30px;
    margin: 20px 0;
    border-radius: 30px;
    transition: background 0.5s;
}.btn:hover{
    background: #563434;
}
.main-r{
    position: absolute;
    top: 150px;
    left: 1000px;
}
.r-t{
    margin-left: 100px;
    margin-top: 30px;

}
.r-t img {
    transform: scaleX(-1);
    width: 600px;
    height: 600px;
}
.r-btn {
    margin-left: 450px;
    margin-top: -150px;
}
.r-btn i {
    color: #747474;
    font-size: 30px;
}